

body {
  margin: 0;
  text-align:center;
  font-family: serif;
}

h1 {
  color: #66BFBF;
  margin-top: 0px;
  font-size: 4rem;
  font-family: serif;

}

.h2-2 {
  color: #66BFBF;
  font-size: 2rem;
  font-family: sans-serif;
  padding-top: 50px;
}

.h2-2-1 {
  color: #66BFBF;
  font-size: 1.5rem;
  font-family: sans-serif;
  padding-top: 50px;
  padding-bottom: 20px;
  margin-bottom: 10px;
}



h2 {
  color: #66BFBF;
  font-size: 2rem;
  font-family: sans-serif;
}

h3 {
  color: #11999E;
  font-size: 1rem;
  font-family: sans-serif;
}

.h3-1 {
  padding-top: 10px;
  color: #11999E;
  font-size: 1rem;
  font-family: sans-serif;
  
}

.h3_table {

  text-align: left;
  color: #E59934;
  font-size: 1rem;
  font-family: sans-serif;

}

a {
  color: #11999E;
  font-family: "Montserrat" sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.info > a {
  color: #000000;
  
}

hr { background-color: white;
 border-style: none;
 border-top-style: dotted;
 border-color: #EAF6F6;
 height: 0px;
 width: 6%;
 border-width: 5px;
}

td {
  width: 400px;

}

.p-skills {
  text-align: left;
  line-height: 2;
  
}

.p-table {

  text-align: left;
  line-height: 1;
  width: 100%;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;

}

.middle-container {

}

.bottom-container {
  background-color: #66BFBF;
  height: 95px;

}


.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}





.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}



.skill-row {
  width: 50%;
  margin-top: 100px;
  margin-right: auto;
  margin-bottom: 100px;
  margin-left: auto;

}

.s_images {

  width: 35%;
  float: left;
  padding-right: 30px;
}

.s2_images {

  width: 25%;
  /*float: left;*/
  padding-right: 30px;
}

.table_images {
  width: 95%;
}

.t_images {
  width: 35%;
  float: right;
  padding-right: 30px;
}

.BUTTON_FVF {
 background: #3D94F6;
 background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
 background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
 background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
 background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
 background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
 -webkit-border-radius: 10px;
 -moz-border-radius: 10px;
 border-radius: 10px;
 color: #FFFFFF;
 font-family: Brush Script MT;
 font-size: 20px;
 font-weight: 50;
 padding: 4px;
 -webkit-box-shadow: 1px 1px 20px 0 #000000;
 -moz-box-shadow: 1px 1px 20px 0 #000000;
 box-shadow: 1px 1px 20px 0 #000000;
 text-shadow: 1px 1px 20px #000000;
 border: solid #337FED 1px;
 text-decoration: none;
 display: inline-block;
 cursor: pointer;
 text-align: center;
 margin-top: 20px;
 margin-bottom: 30px;
}

.BUTTON_FVF:hover {
 border: solid #337FED 1px;
 background: #1E62D0;
 background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
 background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
 background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
 background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
 background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
 -webkit-border-radius: 10px;
 -moz-border-radius: 10px;
 border-radius: 10px;
 text-decoration: none;
}

.footer-link {
  position: relative;
  top: 15px;
}

.rights {
  position: relative;
  top: 10px;
}

aside.rightSide {  
  position: fixed;
  right: 10px;
  top: 5%;
  padding: 10px;

  /*width: 20%;
  float: right;
  height: 100%;*/

}

.rightSide {
  width: 20%;
}

.rightSide > ul {
  margin-top: 0px;
}

.rightSide > ul > li {
  list-style-type: none;
  text-align: center;
  padding: 4%;
  /*border: 1px solid #66BFBF;*/
  margin-left: 7px;
  margin-right: 17px;
  font-family: sans-serif;

}

.rightSide > ul > li > a {
  text-decoration: none;
  color: #000000;
}

.copter {

  padding-left: 30px;
  width: 100px;
}

.formenu {
  border: 1px solid #66BFBF;

}

.profile {
  width: 100%;
}

.profile2 {
  width: 100%;
}



.profile2 > p {

  width: 35%;
}

.profile > h3 {
  width: 35%;
}

.top-cloud2 {
  position: absolute;
  right: 300px;
}

.bottom-cloud2 {
  position: absolute;
  left: 100px;
  bottom: 50px;
}



@media screen and (max-width: 900px) and (min-width: 769px) {
  .top-cloud2 {
    position: absolute;
    right: 300px;
  }

  .bottom-cloud2 {
    position: absolute;
    left: 100px;
    bottom: 50px;
  }

  .menu {
    padding-left: 0px;
    position: absolute;
    top: 160px;
  }

}



@media screen and (max-width: 768px) and (min-width: 321px) {
  .top-cloud2 {
    position: absolute;
    right: 300px;
  }

  .bottom-cloud2 {
    position: absolute;
    left: 100px;
    bottom: 160px;
  }

  .menu {
    padding-left: 0px;
    position: absolute;
    top: 160px;

  }

}
@media screen and (max-width: 320px) {
  .top-cloud2 {
    position: absolute;
    right: 300px;
  }

  .bottom-cloud2 {
    position: absolute;
    left: 100px;
    bottom: 160px;
  }


}

.container__persona {
  perspective: 1000px; 
  width: 250px;
  height: 300px;
  margin: 0 15px;
  display: inline-block;
}
.persona {
  position: relative;
  cursor: pointer; 
  width: 250px;
  height: 300px;
  transition: 1s; 
  transform-style: preserve-3d; 
}
.container__persona:hover .persona {
  transform: rotateY(180deg);  
}
.persona__foto {
  width: 250px;
  height: 300px;
  overflow: hidden;
  z-index: 2; 
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  
}
.persona__info {
  
  width: 250px;
  height: 300px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; 
  backface-visibility: hidden; 
  transform: rotateY(180deg);border-radius: 15px; 
}

.icon {
  color: #96C7C1;
  margin-bottom: 0rem;
}